@font-face {
    font-family: 'Roboto';

    src:url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed';

    src:url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
    src: url('./fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
    src: url('./fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


//BLUE******************************

$mainColor500:#2196F3;
$mainColor900:#0D47A1;
$mainColor100:#BBDEFB;
$mainColor300:#64B5F6;

//ORANGE******************************
$accentColor400:#FF9100;
$accentColor100:#FFD180;
$accentColor700:#FF6D00;

//INDIGO******************************

//$mainColor500:#3F51B5;
//$mainColor200:#9FA8DA;


//LIGHT BLUE******************************

//$mainColor500:#03A9F4;
//$mainColor900:#01579B;

.loginPanel{

    //min-width:200px;

    background:transparent;

}
.loginMenu{


    background:#BBDEFB ;
    font-weight: 500;
    border-radius: 10px;
    -moz-border-radius: 10px; /* firefox */
    -webkit-border-radius: 10px; /* safari, chrome */
}
.logotecsisContainer{

    text-align:right;
}

.promotionalContainer{


    background:$mainColor900!important;//Blue 900

}

.loginContainer{


    background:$mainColor500!important;//Blue 500
}


.dashPanel{

    background:$mainColor100!important;
}

.headerPanel{

    background:$mainColor500!important;
}

.usernameContainer, .logoutCmdContainer
{
    text-align:center;

}
.menuPanel{

    background:$mainColor300!important;
}

.maninMenu{
    background:$mainColor900!important;

}

/*.mainMenuItem{

background:$mainColor900!important;
border-bottom: 2px solid $mainColor500!important;
}
.mainMenuItemOver{

background:$mainColor500!important;
border-bottom: 5px solid red;
}*/

.slogan{ //font-family: 'Roboto Condensed';

    font-weight: 100;
    font-style: italic;
}
.leftDetailPanel{
    
    width: 50%;
}
$font-family: Roboto, Helvetica, sans-serif;
$base-color: $mainColor500;
$body-background-color: transparent;
$button-default-background-color: rgba(13,71,161,1);
$panel-header-color: rgba(33,150,243,1);
$panel-body-background-color: transparent;
$panel-header-font-family: "Roboto Condensed", Arial, sans-serif;
$panel-header-glyph-color: rgba(33,150,243,1);
$form-label-font-color: rgba(0,0,0,1);
$form-text-field-empty-color: rgba(238,28,28,1);
$form-checkbox-label-color: rgba(0,0,0,1);
$border-layout-ct-background-color: transparent;
$menu-item-active-background-color: $accentColor100;
$menu-item-border-width: 1;
$menu-background-color: rgba(254,254,254,0);
$menu-border-width: 0 0 1px 0;
$menu-item-font-weight: bold;
$menu-item-active-border-radius: 10;