$maincolor:#264052;

.promotionalPanel{


    background:$maincolor;
    //min-width:400px;
    //float:left;
}

.loginPanel{

    //min-width:200px;


    background:transparent;
}
.logoTecsisnet{

    text-align:right;
}

.promotionalContainer{


    background:#264052!important;
    //min-width:400px;
    //float:left;
}

.loginContainer{

    //min-width:200px;


    background:#ccc;
}