/* ui mixin: dashmenu for of type: extjs-menu-ui */
@if $include-ext-menu-menu != false {
  $_arch_ui-border-color: rgba(94,94,94,1);
$_arch_ui-item-active-background-color: rgba(182,62,124,1);
  @include extjs-menu-ui(
    $ui:"dashmenu",
    $ui-background-color: $menu-background-color,
    $ui-border-color: $_arch_ui-border-color,
    $ui-border-style: solid,
    $ui-border-width: 2px,
    $ui-padding: $menu-padding,
    $ui-text-color: $menu-text-color,
    $ui-item-font-family: $menu-item-font-family,
    $ui-item-font-size: $menu-item-font-size,
    $ui-item-font-weight: $menu-item-font-weight,
    $ui-item-height: $menu-item-height,
    $ui-item-border-width: 5px,
    $ui-item-cursor: $menu-item-cursor,
    $ui-item-active-background-color: $_arch_ui-item-active-background-color,
    $ui-item-active-border-color: $menu-item-active-border-color,
    $ui-item-background-gradient: panel-header,
    $ui-item-active-border-radius: $menu-item-active-border-radius,
    $ui-item-icon-size: $menu-item-icon-size,
    $ui-glyph-color: $mainColor900,
    $ui-glyph-opacity: $menu-glyph-opacity,
    $ui-item-checkbox-size: $menu-item-checkbox-size,
    $ui-item-icon-background-position: $menu-item-icon-background-position,
    $ui-item-icon-vertical-offset: $menu-item-icon-vertical-offset,
    $ui-item-text-vertical-offset: $menu-item-text-vertical-offset,
    $ui-item-text-horizontal-spacing: $menu-item-text-horizontal-spacing,
    $ui-item-icon-horizontal-spacing: $menu-item-icon-horizontal-spacing,
    $ui-item-arrow-horizontal-spacing: $menu-item-arrow-horizontal-spacing,
    $ui-item-separator-margin: 0,
    $ui-item-arrow-height: $menu-item-arrow-height,
    $ui-item-arrow-width: $menu-item-arrow-width,
    $ui-item-disabled-opacity: $menu-item-disabled-opacity,
    $ui-component-margin: 0,
    $ui-separator-border-color: $menu-separator-border-color,
    $ui-separator-background-color: $menu-separator-background-color,
    $ui-separator-size: $menu-separator-size,
    $ui-scroller-width: $menu-scroller-width,
    $ui-scroller-height: $menu-scroller-height,
    $ui-scroller-border-color: $menu-scroller-border-color,
    $ui-scroller-border-width: $menu-scroller-border-width,
    $ui-scroller-top-margin: 0,
    $ui-scroller-bottom-margin: 0,
    $ui-scroller-cursor: $menu-scroller-cursor,
    $ui-scroller-cursor-disabled: $menu-scroller-cursor-disabled,
    $ui-scroller-opacity: $menu-scroller-opacity,
    $ui-scroller-opacity-over: $menu-scroller-opacity-over,
    $ui-scroller-opacity-pressed: $menu-scroller-opacity-pressed,
    $ui-scroller-opacity-disabled: $menu-scroller-opacity-disabled,
    $ui-classic-scrollers: $menu-classic-scrollers
  );
}